@model Quest.MPDW.Admin.Models.PrivilegeEditorViewModel
@{
    ViewBag.Title = "Privilege Groups";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Privilege Groups</h1>

<input type="hidden" id="__frmPrivilegeVIEW_STATE" value="@Html.Raw(Json.Encode(Model))" />

