@model Quest.MPDW.Admin.Models.PrivilegeEditorViewModel
@{
    ViewBag.Title = "Privilege Editor";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Privilege Editor</h1>

<input type="hidden" id="__frmPrivilegeVIEW_STATE" value="@Html.Raw(Json.Encode(Model))" />
<div id="frmPrivilege">
</div>

<script type="text/javascript">
    var _frmPrivilege = null;
    var frmPrivilege = {
        element: 'frmPrivilege',
        prefix: '',
        uri: '/Admin/Privilege',
        callback: cbPrivilegeEditor,
        mask: 'body',
        ctx: {
            elements: ['_questctx', '_questmm', '_questnb']
        },
        fields: [
            { name: 'Id', type: 'hidden', key: true },
            { name: 'Name', label: 'Name', required: true, maxlength: 256, size: 55 },
            { name: 'Description', label: 'Description', maxlength: 256, size: 55 },
        ],
        operations: [
            { name: 'Users', label: 'Users', classes: "btn btn-primary", uri: '/Admin/Privilege', view: true },
            { name: 'Groups', label: 'Groups', classes: "btn btn-primary", uri: '/Admin/Privilege', view: true },
        ],
        actions: [
        ]
    }
    function cbPrivilegeEditor(ud, d) {
    }
    $(function () {
        _frmPrivilege = new qrmgEditor(frmPrivilege);
        _frmPrivilege.DisplayFormMessages();
    });
</script>
