@model Quest.MasterPricing.Database.Models.StoredProceduresListViewModel
@{
    ViewBag.Title = "Database Stored Procedures List";
    Layout = "~/Views/Shared/_LayoutDatabase.cshtml";
}

<input type="hidden" id="__tblStoredProceduresVIEW_STATE" value="@Html.Raw(Json.Encode(Model))" />

<div class="questTableTitle">Database Stored Procedures List</div>
<div class="page-subtitle-frame">
    <div id="pDatabaseName" class="page-subtitle pull-left"><b>Name:</b></div>
    <div id="pTablesetLastRefresh" class="page-subtitle pull-right"><b>Last Refresh:</b></div>
</div>

<div id="tblStoredProcedures" class="qrmgTable"></div>

<script type="text/javascript">
    var _viewstate;
    var _tblStoredProcedures;
    $(function () {
        initViewstate();
        var tblStoredProcedures = {
            name: 'tblStoredProcedures',
            element: 'tblStoredProcedures',
            prefix: 'sproc',
            uri: '/Database/StoredProcedures',
            ctx: {
                elements: ['_questctx', '_questmm', '_questnb'],
                master: { viewstate: true, field: 'DatabaseId' },
                ////master: { element: true, name: 'DatabaseId', value: '#DatabaseId' }
            },
            autoLoad: true,
            ////editor: { uri: '/Database/StoredProcedures' },
            callback: cbTblStoredProcedures,
            columns: [
                { name: 'Id', hidden: true, key: true },
                { name: 'Name', label: 'Stored Procedure Name' },
            ],
            paging: {
                Top: true,
                Bottom: true,
                PageSize: 100,
                PageSizeOptions: [100, 200, 300, 1000],
            },
            operations: [
                { name: 'Database', label: 'Database', uri: '/Setup/Database', args: [{ viewstate: true, field: 'DatabaseId', name: 'Id' }] },
                { name: 'Tables', label: 'Tables', uri: '/Database/Tables', args: [{ viewstate: true, field: 'DatabaseId', name: 'Id' }] },
                { name: 'Views', label: 'Views', uri: '/Database/Views', args: [{ viewstate: true, field: 'DatabaseId', name: 'Id' }] },
            ],
            commands: [
                ////{ name: 'Read', label: 'Details', edit: true },
            ],
            events: [
            ],
            contextMenu: [
            ]
        }
        _tblStoredProcedures = new qrmgTable(tblStoredProcedures);
    });
    function cbTblStoredProcedures(ud, d) {

    }
    function initViewstate() {
        _viewstate = JSON.parse($('#__tblStoredProceduresVIEW_STATE').val());
        $('#pDatabaseName').html('<b>Name:</b>&nbsp;' + _viewstate.Database.Name);
        $('#pTablesetLastRefresh').html('<b>Last Refresh:</b>&nbsp;' + _viewstate.Database.LastRefresh);
    }
</script>


