@model Quest.MasterPricing.Database.Models.TablesListViewModel
@{
    ViewBag.Title = "Database Tables List";
    Layout = "~/Views/Shared/_LayoutDatabase.cshtml";
}

<input type="hidden" id="__tblTablesVIEW_STATE" value="@Html.Raw(Json.Encode(Model))" />

<div class="questTableTitle">Database Tables List</div>
<div class="page-subtitle-frame">
    <div id="pDatabaseName" class="page-subtitle pull-left"><b>Name:</b></div>
    <div id="pTablesetLastRefresh" class="page-subtitle pull-right"><b>Last Refresh:</b></div>
</div>

<div id="tblTables" class="qrmgTable"></div>

<script type="text/javascript">
    var _viewstate;
    var _tblTables;
    $(function () {
        initViewstate();
        var tblTables = {
            name: 'tblTables',
            element: 'tblTables',
            prefix: 'tt',
            uri: '/Database/Tables',
            ctx: {
                elements: ['_questctx', '_questmm', '_questnb'],
                master: { viewstate: true, field: 'DatabaseId' },
            },
            autoLoad: true,
            callback: cbTblTables,
            columns: [
                { name: 'Id', hidden: true, key: true },
                { name: 'Schema', label: 'Schema' },
                { name: 'Name', label: 'Table Name' },
            ],
            paging: {
                Top: true,
                Bottom: true,
                PageSize: 100,
                PageSizeOptions: [100, 200, 300, 1000],
            },
            bNoDefaultOptions: true,
            operations: [
                { name: 'Database', label: 'Database', uri: '/Setup/Database', args: [{ viewstate: true, field: 'DatabaseId', name: 'Id' }] },
                { name: 'Views', label: 'Views', uri: '/Database/Views', args: [{ viewstate: true, field: 'DatabaseId', name: 'Id' }] },
                { name: 'StoredProcedures', label: 'Stored Procedures', uri: '/Database/StoredProcedures', args: [{ viewstate: true, field: 'DatabaseId', name: 'Id' }] },
            ],
            commands: [
                { name: 'Columns', label: 'Columns', uri: '/Database/Columns', type: 'view', single: true, callback: cbShowColumns },
            ],
            events: [
                { name: 'DoubleClick', callback: cbTablesDoubleClick },
            ],
            contextMenu: [
            ]
        }
        _tblTables = new qrmgTable(tblTables);
    });
    function cbTblTables(ud, d) {

    }
    function cbTablesDoubleClick(ud, d) {
        $.extend(d, _tblTables._getctx());
        d.ParentEntityType = 'table';
        d.DatabaseId = _viewstate.DatabaseId;
        var _io = new qrmgio(cbShowColumnView);
        _io.ShowView('/Database/Columns', d);

    }
    function cbShowColumnView(ud, d) {

    }
    function cbShowColumns(ud, d) {
        $.extend(d, { ParentEntityType: 'table', DatabaseId: _viewstate.DatabaseId });
    }
    function initViewstate() {
        _viewstate = JSON.parse($('#__tblTablesVIEW_STATE').val());
        $('#pDatabaseName').html('<b>Name:</b>&nbsp;' + _viewstate.Database.Name);
        $('#pTablesetLastRefresh').html('<b>Last Refresh:</b>&nbsp;' + _viewstate.Database.LastRefresh);
    }
</script>


