@model Quest.MPDW.Support.Models.ExceptionsViewModel
@{
    ViewBag.Title = "MPDW Exceptions Log";
    Layout = "~/Views/Shared/_LayoutSupport.cshtml";
}

<h1>MPDW Exceptions Log</h1>

<p>TODO: Logs for MPDW exceptions.</p>

