@model Quest.MPDW.Customer.Models.CustomersListViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="questTableTitle">Customers</div>

<div id="tblCustomers" class="qrmgTable"></div>

<script type="text/javascript">
    $(function () {
        var _tblCustomers;
        var tblCustomers = {
            name: 'tblCustomers',
            element: 'tblCustomers',
            prefix: 'cust',
            uri: '/Customer',
            ctx: {
                elements: ['_questctx', '_questmm', '_questnb']
            },
            autoLoad: true,
            editor: { uri: '/Customer/Editor' },
            callback: cbTblCustomers,
            columns: [
                { name: 'Id', hidden: true, key: true },
                { name: 'Name', label: 'Name', width: '400px' },
                { name: 'Personal', label: 'Personal' },
                { name: 'CreateDate', label: 'Create Date' },
            ],
            paging: {
                Top: true,
                Bottom: true,
                PageSize: 10,
                PageSizeOptions: [10, 20, 30, 50, 100],
            },
            operations: [
                { name: 'New', label: '&nbsp;&nbsp;New&nbsp;&nbsp;', tooltip: 'Create a new customer', uri: '/Customer/Editor', classes: 'btn-new' },
            ],
            commands: [
            ],
            events: [
            ],
            contextMenu: [
            ]
        }
        _tblCustomers = new qrmgTable(tblCustomers);
    });
    function cbTblCustomers(ud, d) {

    }
</script>
