@model Quest.MasterPricing.Database.Models.ViewsListViewModel
@{
    ViewBag.Title = "Database Views List";
    Layout = "~/Views/Shared/_LayoutDatabase.cshtml";
}

<input type="hidden" id="__tblViewsVIEW_STATE" value="@Html.Raw(Json.Encode(Model))" />

<div class="questTableTitle">Database Views List</div>

<div id="tblViews" class="qrmgTable"></div>

<script type="text/javascript">
    var _tblViews;
    $(function () {
        var tblViews = {
            name: 'tblViews',
            element: 'tblViews',
            prefix: 'vv',
            uri: '/Database/Views',
            ctx: {
                elements: ['_questctx', '_questmm', '_questnb'],
                master: { viewstate: true, field: 'DatabaseId' },
                ////master: { element: true, name: 'DatabaseId', value: '#DatabaseId' }
            },
            autoLoad: true,
            ////editor: { uri: '/Database/View' },
            callback: cbTblViews,
            columns: [
                { name: 'Id', hidden: true, key: true },
                { name: 'Schema', label: 'Schema' },
                { name: 'Name', label: 'Database Name' },
                { name: 'Summary', label: 'Summary', width: '800px' },
            ],
            paging: {
                Top: true,
                Bottom: true,
                PageSize: 100,
                PageSizeOptions: [100, 200, 300, 1000],
            },
            operations: [
                { name: 'Database', label: 'Database', uri: '/Setup/Database', args: [{ viewstate: true, field: 'DatabaseId', name: 'Id' }] },
                { name: 'Tables', label: 'Tables', uri: '/Database/Tables', args: [{ viewstate: true, field: 'DatabaseId', name: 'Id' }] },
                { name: 'StoredProcedures', label: 'Stored Procedures', uri: '/Database/StoredProcedures', args: [{ viewstate: true, field: 'DatabaseId', name: 'Id' }] },
            ],
            commands: [
                ////{ name: 'Read', label: 'Details', edit: true },
            ],
            events: [
            ],
            contextMenu: [
            ]
        }
        _tblViews = new qrmgTable(tblViews);
    });
    function cbTblViews(ud, d) {

    }
</script>


