@model Quest.MPDW.Models.SetupOverviewViewModel
@{
    ViewBag.Title = "Setup Overview";
    Layout = "~/Views/Shared/_LayoutSetup.cshtml";
}

<div class="questTableTitle">Setup Overview</div>

<div id="tblTablesets" class="qrmgTable"></div>

<p>This will be flushed out w/ overview and step-by-step instructions with some quick links to speed things up.</p>