@model Quest.MPDW.Support.Models.HTTPRequestsViewModel
@{
    ViewBag.Title = "MPDW HTTP Requests Log";
    Layout = "~/Views/Shared/_LayoutSupport.cshtml";
}

<h1>MPDW HTTP Requests Log</h1>

<p>TODO: Logs for HTTP Requests to MPDW.</p>

