@model Quest.MPDW.Support.Models.HTTPRequestsViewModel
@{
    ViewBag.Title = "HTTP Requests Log";
    Layout = "~/Views/Shared/_LayoutSupport.cshtml";
}

<div class="questTableTitle">HTTP Requests Log</div>

<div id="tblHTTPRequestLogs" class="qrmgTable"></div>

<script type="text/javascript">
    var _tblHTTPRequestLogs;
    $(function () {
        var tblHTTPRequestLogs = {
            name: 'tblHTTPRequestLogs',
            element: 'tblHTTPRequestLogs',
            prefix: 'http',
            uri: '/Support/HTTPRequests',
            ctx: {
                elements: ['_questctx', '_questmm', '_questnb']
            },
            autoLoad: true,
            callback: cbTblHTTPRequestLogs,
            columns: [
                { name: 'Id', hidden: true, key: true },
                { name: 'UserSessionId', label: 'User Session' },
                { name: 'Username', label: 'Username' },
                { name: 'Method', label: 'Method' },
                { name: 'IPAddress', label: 'IPAddress' },
                { name: 'UserAgent', label: 'UserAgent' },
                { name: 'URL', label: 'URL' },
                { name: 'Created', label: 'Created' },
            ],
            paging: {
                Top: true,
                Bottom: true,
                PageSize: 100,
                PageSizeOptions: [100, 200, 500, 1000],
            },
            operations: [
            ],
            commands: [
                { name: 'ShowSession', label: 'Show Session', method: 'GET', single: true, callback: cbShowSession },
                { name: 'ClearSession', label: 'Clear Session', method: 'GET', NoSelectionsAllowed: true, callback: cbClearSession },
                { name: 'Clear', label: 'Clear Log', method: 'POST', NoSelectionsAllowed: true, callback: cbClear },
                { name: 'Delete', label: 'Delete Items', method: 'POST', callback: cbDelete },
            ],
            events: [
            ],
            contextMenu: [
            ]
        }
        _tblHTTPRequestLogs = new qrmgTable(tblHTTPRequestLogs);
    });
    function cbTblHTTPRequestLogs(ud, d) {
    }
    function cbShowSession(ud, d) {
        if (d.questStatus) {
            return;
        }
        else {
            var r = _tblHTTPRequestLogs.GetRow(d.Id);
            _tblHTTPRequestLogs.FilterColumn('UserSessionId', 1, r.UserSessionId, true);
            _tblHTTPRequestLogs.Load();
        }
        return (true);
    }
    function cbClearSession(ud, d) {
        _tblHTTPRequestLogs.ClearFilterColumn();
        _tblHTTPRequestLogs.Load();
        return (true);
    }
    function cbClear(ud, d) {
        if (d.questStatus) {
            if (IsAppSuccess(d)) {
                _tblHTTPRequestLogs.Load();
            }
        }
    }
    function cbDelete(ud, d) {
        if (d.questStatus) {
            if (IsAppSuccess(d)) {
                _tblHTTPRequestLogs.Load();
            }
        }
    }
</script>
