@model Quest.MPDW.Support.Models.DatabasesViewModel
@{
    ViewBag.Title = "Databases Log";
    Layout = "~/Views/Shared/_LayoutSupport.cshtml";
}

<div class="questTableTitle">Databases Log</div>

<div id="tblDatabaseLogs" class="qrmgTable"></div>

<script type="text/javascript">
    var _tblDatabaseLogs;
    $(function () {
        var tblDatabaseLogs = {
            name: 'tblDatabaseLogs',
            element: 'tblDatabaseLogs',
            prefix: 'db',
            uri: '/Support/Databases',
            ctx: {
                elements: ['_questctx', '_questmm', '_questnb']
            },
            autoLoad: true,
            callback: cbTblDatabaseLogs,
            columns: [
                { name: 'Id', hidden: true, key: true },
                { name: 'UserSessionId', label: 'User Session' },
                { name: 'Username', label: 'Username' },
                { name: 'Name', label: 'Name' },
                { name: 'Event', label: 'Event' },
                { name: 'Data', label: 'Data' },
                { name: 'Created', label: 'Created' },
            ],
            paging: {
                Top: true,
                Bottom: true,
                PageSize: 100,
                PageSizeOptions: [100, 200, 500, 1000],
            },
            operations: [
            ],
            commands: [
                { name: 'Clear', label: 'Clear Log', method: 'POST', NoSelectionsAllowed: true },
                { name: 'Delete', label: 'Delete Items', method: 'POST' },
            ],
            events: [
            ],
            contextMenu: [
            ]
        }
        _tblDatabaseLogs = new qrmgTable(tblDatabaseLogs);
    });
    function cbTblDatabaseLogs(ud, d) {

    }
</script>
