@{
    ViewBag.Title = "MPDW Support";
    Layout = "~/Views/Shared/_LayoutSupport.cshtml";
}

<h1>MPDW Support</h1>

<p>Various logs will be found in this section of MPDW for technical/user support.</p>

<p>The following logs will be provided:</p>
<ul>
    <li><b>HTTP Requests - </b>HTTP requests to MPDW.</li>
    <li><b>Exceptions - </b>exceptions that have occurred at run-time.</li>
    <li><b>Stored Procedures - </b>stored procedure invocations.</li>
    <li><b>Database - </b>database setup and schema refresh operations.</li>
    <li><b>Tableset - </b>tableset setup and change events.</li>
    <li><b>Filter - </b>filter authoring, extension and running events.</li>
    <li><b>Bulk Insert - </b>bulk insert operations.</li>
    <li><b>Bulk Update - </b>bulk update operations.</li>
    <li><b>Portal - </b>invocations from the Quest portal.</li>
    <li><b>Admin - </b>Administrative operations, e.g. users created, modified, etc.</li>
    <li><b>User - </b>All operations for a given user.</li>
    <li><b>User Session - </b>All operations for a given user session.  There will be some overlap with Admin, but this will have diagnostic-related operations on user sessions.</li>
</ul>

<p>The means to turn each of the above ON or OFF will be provided.  Each will have their own individual setting.</p>

<p>Each area will have the means to archive, export or truncate logs.</p>
