@model Quest.MPDW.Models.BaseUserSessionViewModel
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Quest Resource Management Group - MPDW</title>
        <link href="~/favicon.ico?v=1" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="~/Content/animate.min.css" rel="stylesheet">
        <link href="~/Content/creative.css" rel="stylesheet">
        <link href="~/Content/Site.css" rel="stylesheet">
        <link href="~/Content/Quest/quest.css" rel="stylesheet">
        <link href="~/Content/responsive.css" rel="stylesheet">

        <script src="~/Scripts/jquery-1.11.3.min.js"></script>
        <script src="~/Content/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery.easing.min.js"></script>
        <script src="~/Scripts/jquery.fittext.js"></script>
        <script src="~/Scripts/wow.min.js"></script>
        <script src="~/Scripts/creative.js"></script>
        <script src="~/Scripts/Quest/qrmg.js"></script>
        <script src="~/Scripts/Quest/qrmgmvc.js"></script>
        <script src="~/Scripts/Quest/qrmgctx.js"></script>
        <script src="~/Scripts/Quest/qrmgTreeview.js"></script>
        <script src="~/Scripts/Quest/qrmgMainMenu.js"></script>

        <script src="~/Scripts/Quest/qrmgumsg.js"></script>
        <script src="~/Scripts/Quest/qrmgio.js"></script>
        <script src="~/Scripts/Quest/qrmgobj.js"></script>
    </head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top affix-top" id="mainNav">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button data-target="#mainMenu" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="/" class="navbar-brand page-scroll">
                    <div class="logo"><span class="fa fa-exclamation fa-2x"></span></div>
                    Quest Resource Management Group
                </a>
                <div class="appTitle">MPDW</div>
            </div>
            <div class="appTitle">MPDW</div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="mainMenu" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right"></ul>
            </div>
        </div>
    </nav>
    <div id="content">
        <div id="_questStatus">
        </div>
        <div id="pageContent">
            <div id="__umsg" class="umsg" style="left: 0;"></div>
            <div class="nonSessionFrame">
                @RenderBody()
            </div>          
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="text-center">
                    <p class="copyright">&copy; 2017  Quest Resource Management Group.   All rights reserved.   v.20170317001</p>
                </div>
            </div>
        </footer>
</body>
</html>

<script type="text/javascript">
    $(function () {
        $('.no-fouc').removeClass('no-fouc');
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('.scrollToTop').fadeIn();
            } else {
                $('.scrollToTop').fadeOut();
            }
        });
        $('.scrollToTop').click(function () {
            $('html, body').animate({ scrollTop: 0 }, 250);
            return false;
        });
    });
</script>
<script type="text/javascript">
    var __umsg = null;
    var _umsg = {
        element: '__umsg',
        prefix: '',
        uri: '/Forms/Errors',
        callback: _cbUserMessages
    }
    function _cbUserMessages() {
    }
    $(function () {
        __umsg = new qrmgumsg(_umsg);
    });
</script>
