@model Quest.MPDW.Models.BaseUserSessionViewModel
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutErrorUserSession.cshtml";
}

<div id="_questctx">
    <input type="hidden" id="_avSeverity" value="@Model.questStatus.Severity" />
</div>

<hgroup class="title">
    <h1 class="error">Error</h1>
    <p class="error">An error occurred while processing your request:</p>
    <p class="errorText">@Model.questStatus.Message</p>
</hgroup>

<p>(Support-related things here.)</p>