@model Quest.MPDW.Admin.Models.UserEditorViewModel
@{
    ViewBag.Title = "User Editor";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>User Editor</h1>

<input type="hidden" id="__frmUserVIEW_STATE" value="@Html.Raw(Json.Encode(Model))" />
<div id="frmUser">
</div>

<script type="text/javascript">
    var _frmUser = null;
    var frmUser = {
        element: 'frmUser',
        prefix: '',
        uri: '/Admin/User',
        callback: cbUserEditor,
        mask: 'body',
        ctx: {
            elements: ['_questctx', '_questmm', '_questnb']
        },
        fields: [
            { name: 'Id', type: 'hidden', key: true },
            { name: 'LastName', label: 'Last Name', required: true, maxlength: 256, size: 55 },
            { name: 'FirstName', label: 'First Name', required: true, maxlength: 256, size: 55 },
            { name: 'Username', label: 'Username', required: true, maxlength: 256, size: 55 },
            { name: 'bEnabled', label: 'Enabled', type: 'checkbox' },
            { name: 'bActive', label: 'Active', type: 'checkbox' },
        ],
        operations: [
            { name: 'Password', label: 'Set Password', classes: "btn btn-danger", uri: '/Admin', view: true },
            { name: 'Groups', label: 'Groups', classes: "btn btn-primary", uri: '/Admin/User', view: true },
            { name: 'Privileges', label: 'Privileges', classes: "btn btn-primary", uri: '/Admin/User', view: true },
            { name: 'Sessions', label: 'Sessions', classes: "btn btn-primary", uri: '/Admin/Sessions/Index', view: true },
        ],
        actions: [
        ]
    }
    function cbUserEditor(ud, d) {
    }
    $(function () {
        _frmUser = new qrmgEditor(frmUser);
        _frmUser.DisplayFormMessages();
    });
</script>
