@model Quest.MasterPricing.Setup.Models.DatabaseEditorViewModel
@{
    ViewBag.Title = "Database Editor";
    Layout = "~/Views/Shared/_LayoutSetup.cshtml";
}

<h1>Database Editor</h1>

<input type="hidden" id="__frmDatabaseVIEW_STATE" value="@Html.Raw(Json.Encode(Model))" />
<div id="frmDatabase">
</div>

<p style="color: red;">NOTE: Metadata is filtered with a prefix of 'Quest' for Views and Stored Procedures.</p>

<script type="text/javascript">
    var _frmDatabase = null;
    var frmDatabase = {
        element: 'frmDatabase',
        prefix: '',
        uri: '/Setup/Database',
        callback: cbDatabaseEditor,
        ctx: {
            elements: ['_questctx', '_questmm', '_questnb']
        },
        fields: [
            { name: 'Id', type: 'hidden', key: true },
            { name: 'Server', label: 'Server', required: true, maxlength: 256, size: 55 },
            { name: 'Name', label: 'Name', required: true, maxlength: 256, size: 55 },
            { name: 'Summary', label: 'Summary', maxlength: 256, size: 55 },
            { name: 'ConnectionString', label: 'Connection String', maxlength: 256, size: 55 },
        ],
        operations: [
            { name: 'RefreshSchema', label: 'Refresh Schema Info', classes: "btn btn-primary" },
            { name: 'Tables', label: 'Tables', classes: "btn btn-primary", uri: '/Database', view: true },
            { name: 'Views', label: 'Views', classes: "btn btn-primary", uri: '/Database', view: true },
            { name: 'StoredProcedures', label: 'Stored Procedures', classes: "btn btn-primary", uri: '/Database', view: true },
        ],
        actions: [
        ]
    }
    function cbDatabaseEditor(ud, d) {
    }
    $(function () {
        _frmDatabase = new qrmgEditor(frmDatabase);
        _frmDatabase.DisplayFormMessages();
    });
</script>
