@model Quest.MPDW.Support.Models.TablesetViewModel
@{
    ViewBag.Title = "Tableset Events Log";
    Layout = "~/Views/Shared/_LayoutSupport.cshtml";
}

<h1>Tableset Events Log</h1>

<p>TODO: Logs of all the events associated with MPDW tablesets.</p>

