@model Quest.MPDW.Customer.Models.CustomerServiceRequestsListViewModel
@{
    ViewBag.Title = "Customer Service Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="questTableTitle">Customer Service Requests</div>

<div id="tblCustomerServiceRequests" class="qrmgTable"></div>

<script type="text/javascript">
    $(function () {
        var _tblCustomerServiceRequests;
        var tblCustomerServiceRequests = {
            name: 'tblCustomerServiceRequests',
            element: 'tblCustomerServiceRequests',
            prefix: 'cusloc',
            uri: '/Customer/ServiceRequests',
            ctx: {
                elements: ['_questctx', '_questmm', '_questnb']
            },
            autoLoad: true,
            editor: false,
            columns: [
                { name: 'Id', hidden: true, key: true },
                { name: 'Location', label: 'Location', width: '400px' },
                { name: 'StartDate', label: 'City' },
                { name: 'EndDate', label: 'State' },
            ],
            operations: [
                { name: 'Terminate', label: 'Terminate', tooltip: 'Terminate a serviceRequest', uri: '/ServiceRequests/Editor', classes: 'btn-new' },
            ],
            commands: [
            ],
            events: [
            ],
            contextMenu: [
            ]
        }
        _tblCustomerServiceRequests = new qrmgTable(tblCustomerServiceRequests);
    });
</script>
