@model Quest.MPDW.Support.Models.PortalViewModel
@{
    ViewBag.Title = "Portal Events Log";
    Layout = "~/Views/Shared/_LayoutSupport.cshtml";
}

<h1>Portal Events Log</h1>

<p>TODO: Logs of all the events associated with the QuestRMG portal calling MPDW web APIs.</p>

