.andooBaseL1 {
    color: #FFFFFF;
}
.andooBaseL2 {
    color: #EAECF3;
}
.andooBaseL3 {
    color: #D0D7E3;
}
.andooBaseL4 {
    color: #B6C2D3;
}
.andooBaseL5 {
    color: #9CADC3;
}
.andooBaseL6 {
    color: #8298B3;
}
.andooBaseL7 {
    color: #6883A3;
}
.andooBaseL8{
    color: #4E6E93;
}
.andooBaseL9 {
    color: #345983;
}
.andooBaseL10 {
    color: #1A4473;
}
.andooBase {
    color: #002F63;
}
.andooBaseD1 {
    color: #002A59;
}
.andooBaseD2 {
    color: #00254F;
}
.andooBaseD3 {
    color: #002045;
}
.andooBaseD4 {
    color: #001B3B;
}
.andooBaseD5 {
    color: #001631;
}
.andooBaseD6 {
    color: #001127;
}
.andooBaseD7 {
    color: #000C1D;
}
.andooBaseD8{
    color: #000713;
}
.andooBaseD9 {
    color: #000209;
}
.andooBaseD10 {
    color: #000000;
}

