@model Quest.MPDW.Support.Models.BulkInsertViewModel
@{
    ViewBag.Title = "Bulk Insert Events Log";
    Layout = "~/Views/Shared/_LayoutSupport.cshtml";
}

<h1>Bulk Insert Events Log</h1>

<p>TODO: Logs of all the events associated with MPDW bulk insert operations.</p>

