@model Quest.MPDW.Models.SearchViewModel
@{
    ViewBag.Title = "My Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Search</h1>

<p>Search on anything at this level.  Lower level searches restricted to that area.</p>
