@model Quest.MasterPricing.Models.DataMgrOverviewViewModel
@{
    ViewBag.Title = "Data Management Overview";
    Layout = "~/Views/Shared/_LayoutDataMgr.cshtml";
}

<div class="questTableTitle">Data Management Overview</div>

<div id="tblTablesets" class="qrmgTable"></div>

<p>Landing page for tiles, etc. for data management.  Shortcuts, instructions, etc..</p>