@model Quest.MasterPricing.DataMgr.Models.DataMgrOverviewViewModel
@{
    ViewBag.Title = "Data Management Overview";
    Layout = "~/Views/Shared/_LayoutDataMgr.cshtml";
}

<h1>Data Management Overview</h1>

<div id="tblTablesets" class="qrmgTable"></div>

<p>TODO: Drag-n-drop Filter building here.</p>