@model Quest.MPDW.Admin.Models.UserEditorViewModel
@{
    ViewBag.Title = "Set Password";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Set Password</h1>

<input type="hidden" id="__frmPasswordVIEW_STATE" value="@Html.Raw(Json.Encode(Model))" />
<div id="frmPassword">
</div>

<script type="text/javascript">
    var _frmPassword = null;
    var frmPassword = {
        element: 'frmPassword',
        prefix: '',
        uri: '/Admin/Password',
        callback: cbPasswordEditor,
        mask: 'body',
        ctx: {
            elements: ['_questctx', '_questmm', '_questnb']
        },
        fields: [
            { name: 'Id', type: 'hidden', key: true },
            { name: 'LastName', label: 'Last Name', readonly: true, maxlength: 256, size: 55 },
            { name: 'FirstName', label: 'First Name', readonly: true, maxlength: 256, size: 55 },
            { name: 'Username', label: 'Username', readonly: true, maxlength: 256, size: 55 },
            { name: 'Password', label: 'Password', type: 'password', required: true, maxlength: 256, size: 55 },
            { name: 'ConfirmPassword', label: ' Confirm Password', type: 'confirmpassword', required: true, maxlength: 256, size: 55 },
        ],
        operations: [
            { name: 'Groups', label: 'Groups', classes: "btn btn-primary", uri: '/Admin/User', view: true },
            { name: 'Privileges', label: 'Privileges', classes: "btn btn-primary", uri: '/Admin/User', view: true },
            { name: 'Sessions', label: 'Sessions', classes: "btn btn-primary", uri: '/Admin/Sessions/Index', view: true },
        ],
        actions: [
        ]
    }
    function cbPasswordEditor(ud, d) {
    }
    $(function () {
        _frmPassword = new qrmgEditor(frmPassword);
        _frmPassword.DisplayFormMessages();
    });
</script>
