@model Quest.MPDW.Support.Models.StoredProceduresViewModel
@{
    ViewBag.Title = "Stored Procedure Invocation Log";
    Layout = "~/Views/Shared/_LayoutSupport.cshtml";
}

<h1>MPDW Stored Procedure Invocation Log</h1>

<p>TODO: Logs of stored procedure invocations.</p>

