@model Quest.MPDW.Support.Models.StoredProceduresViewModel
@{
    ViewBag.Title = "Stored Procedures Log";
    Layout = "~/Views/Shared/_LayoutSupport.cshtml";
}

<div class="questTableTitle">Stored Procedures Log</div>

<div id="tblStoredProcedureLogs" class="qrmgTable"></div>

<script type="text/javascript">
    var _tblStoredProcedureLogs;
    $(function () {
        var tblStoredProcedureLogs = {
            name: 'tblStoredProcedureLogs',
            element: 'tblStoredProcedureLogs',
            prefix: 'sproc',
            uri: '/Support/StoredProcedures',
            ctx: {
                elements: ['_questctx', '_questmm', '_questnb']
            },
            autoLoad: true,
            callback: cbTblStoredProcedureLogs,
            columns: [
                { name: 'Id', hidden: true, key: true },
                { name: 'UserSessionId', label: 'User Session' },
                { name: 'Username', label: 'Username' },
                { name: 'Name', label: 'Name' },
                { name: 'Arguments', label: 'Arguments' },
                { name: 'Response', label: 'Response' },
                { name: 'Created', label: 'Created' },
            ],
            paging: {
                Top: true,
                Bottom: true,
                PageSize: 100,
                PageSizeOptions: [100, 200, 500, 1000],
            },
            bNoDefaultOptions: true,
            operations: [
            ],
            commands: [
                { name: 'Clear', label: 'Clear Log', method: 'POST', NoSelectionsAllowed: true },
                { name: 'Delete', label: 'Delete Items', method: 'POST' },
            ],
            events: [
            ],
            contextMenu: [
            ]
        }
        _tblStoredProcedureLogs = new qrmgTable(tblStoredProcedureLogs);
    });
    function cbTblStoredProcedureLogs(ud, d) {

    }
</script>
