@model Quest.MPDW.Account.Models.AccountHomeViewModel
@{
    ViewBag.Title = "My Account Personalization";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<h1>My Account Personalization</h1>

