#toTop {
  background-repeat: no-repeat;
  bottom: 50px;
  display: none;
  font-size: 4em;
  height: 64px;
  opacity: 0.4;
  position: fixed;
  right: 40px;
  width: 64px;
  z-index: 1000;
}
#toTop:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}