@model Quest.MPDW.Support.Models.FilterViewModel
@{
    ViewBag.Title = "Filter Events Log";
    Layout = "~/Views/Shared/_LayoutSupport.cshtml";
}

<h1>Filter Events Log</h1>

<p>TODO: Logs of all the events associated with MPDW filters.</p>

