@model Quest.MPDW.Support.Models.DatabaseViewModel
@{
    ViewBag.Title = "Database Events Log";
    Layout = "~/Views/Shared/_LayoutSupport.cshtml";
}

<h1>Database Events Log</h1>

<p>TODO: Logs of all the events associated with MPDW databases.</p>

