@model Quest.MPDW.Admin.Models.GroupEditorViewModel
@{
    ViewBag.Title = "Group Users";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Group Users</h1>

<input type="hidden" id="__frmGroupVIEW_STATE" value="@Html.Raw(Json.Encode(Model))" />

