@model Quest.MPDW.Support.Models.PortalRequestsViewModel
@{
    ViewBag.Title = "QuestRMG Portal Requests Log";
    Layout = "~/Views/Shared/_LayoutSupport.cshtml";
}

<div class="questTableTitle">QuestRMG Portal Requests Log</div>

<div id="tblPortalRequestLogs" class="qrmgTable"></div>

<script type="text/javascript">
    var _tblPortalRequestLogs;
    $(function () {
        var tblPortalRequestLogs = {
            name: 'tblPortalRequestLogs',
            element: 'tblPortalRequestLogs',
            prefix: 'portreq',
            uri: '/Support/PortalRequests',
            ctx: {
                elements: ['_questctx', '_questmm', '_questnb']
            },
            autoLoad: true,
            callback: cbTblPortalRequestLogs,
            columns: [
                { name: 'Id', hidden: true, key: true },
                { name: 'UserSessionId', label: 'User Session' },
                { name: 'Username', label: 'Username' },
                { name: 'Name', label: '_Agent' },
                { name: 'Method', label: 'Method' },
                { name: 'IPAddress', label: 'IPAddress' },
                { name: 'UserAgent', label: 'UserAgent' },
                { name: 'URL', label: 'URL' },
                { name: 'Created', label: 'Created' },
            ],
            paging: {
                Top: true,
                Bottom: true,
                PageSize: 100,
                PageSizeOptions: [100, 200, 500, 1000],
            },
            bNoDefaultOptions: true,
            operations: [
            ],
            commands: [
                { name: 'ShowSession', label: 'Show Session', method: 'GET', single: true, callback: cbShowSession },
                { name: 'ExportToExcel', label: 'Export to Excel', method: 'GET', NoSelectionsAllowed: true, callback: cbExportToExcel },
                { name: 'ClearSession', label: 'Clear Session', method: 'GET', NoSelectionsAllowed: true, callback: cbClearSession },
                { name: 'Clear', label: 'Clear Log', method: 'POST', NoSelectionsAllowed: true, callback: cbClear },
                { name: 'Delete', label: 'Delete Items', method: 'POST', callback: cbDelete },
            ],
            events: [
            ],
            contextMenu: [
            ]
        }
        _tblPortalRequestLogs = new qrmgTable(tblPortalRequestLogs);
    });
    function cbTblPortalRequestLogs(ud, d) {
    }
    function cbShowSession(ud, d) {
        if (d.questStatus) {
            return;
        }
        else {
            var r = _tblPortalRequestLogs.GetRow(d.Id);
            _tblPortalRequestLogs.FilterColumn('Name', 1, r.Name, true);
            _tblPortalRequestLogs.Load();
        }
        return (true);
    }
    function cbExportToExcel(ud, d) {

        $('#frmPortalRequestLogsExportToExcel').remove();
        var _frmExport = document.createElement("form");
        _frmExport.setAttribute("id", "frmPortalRequestLogsExportToExcel");
        _frmExport.setAttribute("method", "get");
        _frmExport.setAttribute("action", "/Support/PortalRequests/List");
        _frmExport.setAttribute("target", "_blank");

        var _ctx = _tblPortalRequestLogs._getctx();
        for (var f in _ctx) {
            var _in = document.createElement("input");
            _in.setAttribute("type", "hidden");
            _in.setAttribute("name", f);
            if (f == 'QueryOptions') {
                _in.setAttribute("value", JSON.stringify(_ctx[f]));
            }
            else {
                _in.setAttribute("value", _ctx[f]);
            }
            _frmExport.appendChild(_in);
        }

        var _bExportToExcel = document.createElement("input");
        _bExportToExcel.setAttribute("type", "hidden");
        _bExportToExcel.setAttribute("name", "bExportToExcel");
        _bExportToExcel.setAttribute("value", true);
        _frmExport.appendChild(_bExportToExcel);

        document.body.appendChild(_frmExport);
        _frmExport.submit();

        return (true);
    }
    function cbClearSession(ud, d) {
        _tblPortalRequestLogs.ClearFilterColumn();
        _tblPortalRequestLogs.Load();
        return (true);
    }
    function cbClear(ud, d) {
        if (d.questStatus) {
            if (IsAppSuccess(d)) {
                _tblPortalRequestLogs.Load();
            }
        }
    }
    function cbDelete(ud, d) {
        if (d.questStatus) {
            if (IsAppSuccess(d)) {
                _tblPortalRequestLogs.Load();
            }
        }
    }
</script>
