@model Quest.MasterPricing.Setup.Models.TablesetEditorViewModel
@{
    ViewBag.Title = "Tableset Editor";
    Layout = "~/Views/Shared/_LayoutSetup.cshtml";
}

<h1>Tableset Editor</h1>

<input type="hidden" id="__frmTablesetVIEW_STATE" value="@Html.Raw(Json.Encode(Model))" />
<div id="frmTableset">
</div>

<script type="text/javascript">
    var _frmTableset = null;
    var frmTableset = {
        element: 'frmTableset',
        prefix: 'ts',
        uri: '/Setup/Tableset',
        callback: cbTablesetEditor,
        ctx: {
            elements: ['_questctx', '_questmm', '_questnb']
        },
        fields: [
            { name: 'Id', type: 'hidden', key: true },
            { name: 'Name', label: 'Name', required: true, maxlength: 256, size: 55 },
            { name: 'bEnabled', label: 'Enabled', type: 'checkbox' },
            { name: 'Summary', label: 'Summary', maxlength: 256, size: 55 },
            { name: 'DatabaseId', label: 'Database', type: 'select', required: true },
        ],
        operations: [
            { name: 'Configuration', label: 'Configuration', classes: "btn btn-primary", type: 'View', url: '/Setup/TablesetConfiguration' },
        ],
        actions: [
        ]
    }
    function cbTablesetEditor(ud, d) {
        if (ud.Read) {
            if (d.questStatus) {
                if (IsAppSuccess(d)) {
                    loadViewState(d);
                }
            }
        }
        else if (ud.Save) {
            if (d.questStatus) {
                if (IsAppWarning(d)) {
                    if (d.questStatus.Message.indexOf("updated") > -1) {
                        DisplayUserMessage('W|Tableset successfully saved.  However, the database changed, so all filters were deleted.');
                    }
                }
            }
            else {
                if (_viewstate.DatabaseId > 0 && _viewstate.DatabaseId != d.DatabaseId) {
                    $('#btnCancel', '#mdlgDelChangeDatabase').unbind('click').on('click', function (e) {
                        return(true);
                    });
                    $('#btnContinue', '#mdlgDelChangeDatabase').unbind('click').on('click', function (e) {
                        _frmTableset.Save();
                        return (true);
                    });
                    $('#mdlgDelChangeDatabase').modal('show');
                    return (true);
                }
            }
        }
    }
    var _viewstate;
    $(function () {
        _viewstate = JSON.parse($('#__frmTablesetVIEW_STATE').val());
        _frmTableset = new qrmgEditor(frmTableset);
        _frmTableset.DisplayFormMessages();
    });
    function loadViewState(d) {
        _viewstate.Id = d.Id;
        _viewstate.Name = d.Name;
        _viewstate.bEnabled = d.bEnabled;
        _viewstate.Summary = d.Summary;
        _viewstate.DatabaseId = d.DatabaseId;
    }
</script>


<div class="modal fade" id="mdlgDelChangeDatabase" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Database Changed</h4>
            </div>

            <div class="modal-body">
                <p>You have changed the database to this tableset.</p>
                <p>If you proceed to Save this tableset, all tableset configuration and filters based on this tableset will be deleted.</p>
            </div>

            <div class="modal-footer">
                <button id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btnContinue" type="button" class="btn btn-danger" data-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>