@model Quest.MasterPricing.Setup.Models.DatabasesListViewModel
@{
    ViewBag.Title = "Setup Databases";
    Layout = "~/Views/Shared/_LayoutSetup.cshtml";
}

<div class="questTableTitle">Database List</div>

<div id="tblDatabases" class="qrmgTable"></div>

<script type="text/javascript">
    var _tblDatabases;
    $(function () {
        var tblDatabases = {
            name: 'tblDatabases',
            element: 'tblDatabases',
            prefix: 'db',
            uri: '/Setup/Databases',
            ctx: {
                elements: ['_questctx', '_questmm', '_questnb']
            },
            autoLoad: true,
            editor: { uri: '/Setup/Database' },
            callback: cbTblDatabases,
            columns: [
                { name: 'Id', hidden: true, key: true },
                { name: 'Name', label: 'Database Name' },
                { name: 'Server', label: 'Server' },
                { name: 'Summary', label: 'Summary' },
                { name: 'LastRefresh', label: 'Last Refresh' },
            ],
            paging: {
                Top: true,
                Bottom: true,
                PageSize: 10,
                PageSizeOptions: [10, 20, 30, 50, 100],
            },
            operations: [
            ],
            commands: [
                { name: 'Read', label: 'Edit', edit: true },
                { name: 'Tables', label: 'Tables', uri: '/Database/Tables', type: 'view', single: true },
                { name: 'Views', label: 'Views', uri: '/Database/Views', type: 'view', single: true },
                { name: 'StoredProcedures', label: 'Stored Procedures', uri: '/Database/StoredProcedures', type: 'view', single: true },
                { name: 'RefreshSchema', label: 'Refresh Schema', method: 'POST' },
            ],
            events: [
            ],
            contextMenu: [
            ]
        }
        _tblDatabases = new qrmgTable(tblDatabases);
    });
    function cbTblDatabases(ud, d) {

    }
</script>
